@keyframes circulo {
    from {
        border-radius: 0px;
    }

    to {
        border-radius: 100%;
    }
}

.cuadrado {
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    animation-name: circulo;
    animation-duration: 4s;
    animation-delay:3s;
}
