.texto::first-line {
    background-color: blue;
}

.texto::first-letter {
    font-size: 3em;
    color: red;
}

h2::before {
    content: ' ugu ' ;
    color: red;
    font-size: 3rem;
}

h2::after {
    content: ' uwu' ;
    color: red;
    font-size: 3rem;
}

span {
    text-decoration:underline;
    position: relative;
    cursor: pointer;
}

span:hover::after {
    content: 'ESTE ES MI TOOLTIP PIOLA';
    position: absolute;
    left: 0;
    top: 24px;
    border: 1px #aaaaaa solid;
    background-color: #ffffcc;
    padding: 12px;
    font-size: 14px;
    z-index: 1;
    border-radius: 10px;
    color: #000000;
}